@model List<RecordModel>

@{
    ViewData["Title"] = "_AllRecords";
}


<h5>All Records</h5>
<hr />
@foreach (var item in Model)
{
    <div class="text-center mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">@item.AuthorName</p>
            <p style="font-size: 15px" class="d-inline">@item.PublishedDate</p>
        </div>
        <p> @item.Content</p>
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">User answers count: @item.AuthorAnswersCount</p>

            <div class="d-inline">
                <button onclick="like(@item.Id)" type="submit" class="btn btn-light"><img src="https://img.icons8.com/cotton/64/000000/facebook-like--v1.png" style="height: 20px" /></button>
                <p id="like-@item.Id" class="d-inline" style="padding-top: 10px">  @item.Likes</p>
                <button onclick="dislike(@item.Id)" type="submit" class="btn btn-light"><img src="https://img.icons8.com/cotton/64/000000/thumbs-down--v2.png" style="height: 20px" /></button>
                <p id="dislike-@item.Id" class="d-inline" style="padding-top: 10px">  @item.Dislikes</p>
            </div>
        </div>
    </div>
    <hr />
}
<script>

    const like = (recordId) => {
        console.log("like method")

        $.ajax({
            url: '@Url.Action("Like", "Record")',
            type: "POST",
            data: {
                recordId
            },
            success: function (data) {
                $('#like-' + recordId).html(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    const dislike = (recordId) => {
        console.log("dislike method")

        $.ajax({
            url: '@Url.Action("Dislike", "Record")',
            type: "POST",
            data: {
                recordId
            },
            success: function (data) {
                $('#dislike-' + recordId).html(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

</script>

@*<div class="text-xl-center">
        @if (Model.PagingModel.HavePreviousPage)
        {
        <button onclick="getRecords(@Model.CurrentPage-1, @Model.ThemeId)" id="linkId" type="submit" class="btn btn-info" style="margin-top: 50px">Назад</button>
        }

        <div class="d-inline mr-3 ml-3">
            @for (int i = 1; i <= Model.PagingModel.PagesCount; i++)
            {
                <b class="mr-2">
                    @Html.ActionLink($"{i}", "Index", "Record",
                        new RecordsModel
                        {
                            CurrentPage = i,
                            ThemeId = Model.ThemeId
                        })
                </b>
            }
        </div>

        @if (Model.PagingModel.HaveNextPage)
        {
             <button onclick="getRecords(@Model.CurrentPage+1, @Model.ThemeId)" type="submit" class="btn btn-info" style="margin-top: 50px">Вперед</button>
        }

    </div>*@



@*const getRecords = (currentPage, themeId) => {
        console.log("get records method")

        $.ajax({
            url: '@Url.Action("GetAllRecords", "Record")',
            type: "GET",
            data: {
                currentPage,
                themeId
            },
            dataType: 'JSON',
            success: function (data) {
            },
            error: function (error) {
                console.log(error);
            }
        });
    }*@
