@model IEnumerable<Blogs.Models.RecordModel>

@{
    ViewData["Title"] = "_AllRecords";
}


<h5>All Records</h5>
<hr/>
@foreach (var item in Model)
{
    <div class="text-center mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">@item.AuthorName</p>
            <p style="font-size: 15px" class="d-inline">@item.PublishedDate</p>
        </div>
        <p> @item.Content</p>
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">User answers count: @item.AuthorAnswersCount</p>

            <div class="d-inline">
                <button onclick="like(@item.ThemeId, @item.Id, getAllRecords)" type="submit" class="btn btn-info">Likes: @item.Likes</button>
                
                @* 3: Error in Item.Id (instead @item.Id) *@
                @*<button onclick="like(@item.ThemeId, Item.Id, getAllRecords)" type="submit" class="btn btn-info">Likes: @item.Likes</button>*@
            </div>
        </div>
    </div>
    <hr/>
}


<script> 
    // 1: dublicate method getAllRecords
    // 2: section Scripts doesnt need in partial view
    @*const getAllRecords = () => {
        $('#allRecords').load('@Url.Action("GetAllRecords", "Record")?themeId=' + @Model.Id);
    };*@
    const like = (themeId, recordId, callback) => {
        console.log("like method")

        $.ajax({
            url: '@Url.Action("Like", "Record")',
            type: "POST",
            data: {
                themeId,
                recordId
            },
            success: function(data) {
                console.log(data);
                callback();
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

</script>


@*<form asp-action="Like" method="post" asp-controller="Record">
    <input type="hidden" name="recordId" value="@item.Id" />
    <input type="hidden" name="themeId" value="@item.ThemeId" />
    <input type="submit" value="Likes: @item.Likes" />
    </form>*@