@model IEnumerable<Blogs.Models.RecordModel>

@{
    ViewData["Title"] = "_AllRecords";
}


<h5>All Records</h5>
<hr/>
@foreach (var item in Model)
{
    <div class="text-center mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">@item.AuthorName</p>
            <p style="font-size: 15px" class="d-inline">@item.PublishedDate</p>
        </div>
        <p> @item.Content</p>
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">User answers count: @item.AuthorAnswersCount</p>

            <div class="d-inline">
                <button onclick="like(@item.Id)" type="submit" class="btn btn-info">Like</button>
                <p id="like-@item.Id" class="d-inline" style="padding-top: 10px">  @item.Likes</p>
            </div>
        </div>
    </div>
    <hr/>
}


<script> 
    const like = (recordId) => {
        console.log("like method")

        $.ajax({
            url: '@Url.Action("Like", "Record")',
            type: "POST",
            data: {
                recordId
            },
            success: function (data) {
                $('#like-' + recordId).html(data);
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

</script>
