@model List<Blogs.Models.ThemeModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Themes</h2>

<p>
    <a asp-action="Create">Create Theme</a>
</p>
<hr />

@for(int i = Model.Count - 1; i>=0; i--)
{
    <div class="text-center mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">@Model[i].AuthorName</p>
            <p style="font-size: 15px" class="d-inline">@Model[i].PublishedDate</p>
        </div>
        <h4>
            <a asp-action="Index" asp-controller="Record" asp-route-id="@Model[i].Id">
                @Model[i].Title
            </a>
        </h4>
        <p> @Model[i].Content</p>
        <p class="text-right" style="font-size: 16px">
            <img src="https://img.icons8.com/ultraviolet/40/000000/faq.png" style="height: 18px"/> 
            @Model[i].RecordsCount
        </p>
    </div>
    <hr />
}
