@model IEnumerable<Blogs.Models.ThemeModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Themes</h2>

<p>
    <a asp-action="Create">Create Theme</a>
</p>
<hr />

@foreach (var item in Model)
{
    <div class="text-center mt-3 mb-3">
        <div class="d-flex justify-content-between">
            <p style="font-size: 15px" class="d-inline">@item.AuthorName</p>
            <p style="font-size: 15px" class="d-inline">@item.PublishedDate</p>
        </div>
        <h4>
            <a asp-action="Index" asp-controller="Record" asp-route-id="@item.Id">
                @item.Title
            </a>
        </h4>
        <p> @item.Content</p>
        <p class="text-right" style="font-size: 16px">
            <img src="https://img.icons8.com/ultraviolet/40/000000/faq.png" style="height: 18px"/> 
            @item.RecordsCount
        </p>
    </div>
    <hr />
}
